* {
  box-sizing: border-box;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292929;
}

.section {
  padding: 60px 0;
}

/* Fonts */

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}

.link {
  border-bottom: 1px solid #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* Navbar */

.navbar-container {
  align-items: center;
  border-bottom: 1px solid rgb(248 248 248 / 15%);
  display: flex;
  justify-content: center;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1116px;
  padding: 20px 40px;
  width: 100%;
}

.brand-name {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.menu {
  display: flex;
}

.menu-item {
  list-style-type: none;
  margin: 0 20px;
}

.menu-link {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.language-switch {
  font-family: "Raleway", sans-serif;
}

/* Page container */

.main-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  max-width: 1116px;
  padding: 100px 40px;
  width: 100%;
}

/* Hero section */

.hero-section-text-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 142px;
  font-weight: 700;
  line-height: 0.8;
  max-width: 860px;
}

.hero-title span {
  text-decoration: underline;
}

.hero-text {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  text-align: right;
}

.hero-image-container {
  left: 100px;
  position: relative;
}

.hero-image {
  max-width: 100%;
}

/* About section */

.about-section {
  display: flex;
  justify-content: flex-end;
}

.about-section-container {
  max-width: 933px;
  width: 100%;
}

.about-section-container {
  display: flex;
  justify-content: space-between;
}

.about-section-text-container {
  width: 60%;
}

/* Services section */

.services-section {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.service {
  border-bottom: 1px solid rgb(248 248 248 / 15%);
  width: 650px;
}

.service-name {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.services-paragraph {
  text-align: right;
  width: 280px;
}

.service-description {
  margin-bottom: 20px;
}

/* Clients section */

.clients-title {
  margin-bottom: 30px;
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
}

.client {
  margin: 30px;
  position: relative;
  width: calc(100% / 2 - 60px);
}

.client::after {
  background: linear-gradient(180deg, rgba(41,41,41,0) 60%, rgba(41,41,41,1) 100%);
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.client-image {
  max-width: 100%;
}

.client-name {
  bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 30px;
  position: absolute;
  z-index: 1;
}

.client-name span {
  font-weight: 600;
}