* {
  box-sizing: border-box;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292929;
}

.section {
  padding: 60px 0;
}

/* Fonts */

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}

.link {
  border-bottom: 1px solid #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* Navbar */

.navbar-container {
  align-items: center;
  border-bottom: 1px solid rgb(248 248 248 / 15%);
  display: flex;
  justify-content: center;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1116px;
  padding: 20px 40px;
  width: 100%;
}

.brand-name {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.menu {
  display: flex;
}

.menu-item {
  list-style-type: none;
  margin: 0 20px;
}

.menu-link {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.language-switch {
  font-family: "Raleway", sans-serif;
}

/* Page container */

.main-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  max-width: 1116px;
  padding: 100px 40px;
  width: 100%;
}

/* Hero section */

.hero-section-text-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 142px;
  font-weight: 700;
  line-height: 0.8;
  max-width: 860px;
}

.hero-title span {
  text-decoration: underline;
}

.hero-text {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  text-align: right;
}

.hero-image-container {
  left: 100px;
  position: relative;
}

.hero-image {
  max-width: 100%;
}

/* About section */

.about-section {
  display: flex;
  justify-content: flex-end;
}

.about-section-container {
  max-width: 933px;
  width: 100%;
}

.about-section-container {
  display: flex;
  justify-content: space-between;
}

.about-section-text-container {
  width: 60%;
}

/* Services section */

.services-section {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.service {
  border-bottom: 1px solid rgb(248 248 248 / 15%);
  cursor: pointer;
  width: 650px;
}

.service-name {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.services-paragraph {
  text-align: right;
  width: 280px;
}

.service-description {
  margin-bottom: 20px;
}

/* Clients section */

.clients-container {
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}

.client {
  position: relative;
}

.client::after {
  background: linear-gradient(180deg, rgba(41,41,41,0) 60%, rgba(41,41,41,1) 100%);
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.client-image {
  max-width: 100%;
}

.client-name {
  bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 30px;
  position: absolute;
  z-index: 1;
}

.client-name span {
  font-weight: 600;
}

/* Contact section */

.contact-section-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.contact-details-container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.line {
  background-color: rgb(248 248 248 / 15%);
  height: 130px;
  margin: 60px 0;
  width: 1px;
}

.email-container {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
}

.email-container p {
  font-weight: 600;
}

.email-link {
  text-decoration: none;
}

.email-link::after {
  background-color: #f8f8f8;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  transition: 0.4s;
}

.email-link:hover::after {
  width: 100%;
}

.social-media-icons {
  display: flex;
  margin-top: 60px;
}

.social-media-item {
  font-size: 18px;
  list-style-type: none;
  margin: 0 10px;
}

.social-media-link {
  text-decoration: none;
}

/* Footer */

.footer-container {
  align-items: center;
  border-top: 1px solid rgb(248 248 248 / 15%);
  display: flex;
  justify-content: center;
}

.footer {
  align-items: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  max-width: 1116px;
  padding: 30px 40px;
  width: 100%;
}

.scroll-to-top {
  text-decoration: none;
}

/* Responsive */

/* Main content */

@media screen and (max-width: 595px) {
  .main-content {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 520px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

/* Navbar */

@media screen and (max-width: 780px) {
  .menu, .language-switch {
    display: none;
  }
}

/* Hero section */

@media screen and (max-width: 1062px) {
  .hero-title {
    font-size: 128px;
  }
}

@media screen and (max-width: 760px) {
  .hero-section-text-container {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .hero-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 476px) {
  .hero-title {
    font-size: 100px;
  }
}

@media screen and (max-width: 390px) {
  .hero-title {
    font-size: 80px;
  }
}

/* About */

@media screen and (max-width: 788px) {
  .about-section-container {
    flex-direction: column;
  }
  .about-section-text-container {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .about-section-text-container {
    width: 100%;
  }
}

/* Services */

@media screen and (max-width: 1022px) {
  .services-section {
    align-items: flex-start;
    flex-direction: column;
  }
  .services-paragraph {
    text-align: left;
    margin-top: 60px;
  }
}

@media screen and (max-width: 730px) {
  .service {
    width: 500px;
  }
}

@media screen and (max-width: 580px) {
  .service {
    width: 360px;
  }
  .service-name {
    font-size: 18px;
  }
}

/* Clients */

@media screen and (max-width: 810px) {
  .client-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 690px) {
  .clients-container {
    display: block;
  }
  .client {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 365px) {
  .client-name {
    bottom: 15px;
    font-size: 16px;
    left: 15px;
  }
}

/* Contact */

@media screen and (max-width: 860px) {
  .contact-section-paragraph, .email-container {
    font-size: 36px;
  }
  .contact-details-container {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .contact-section-paragraph, .email-container {
    font-size: 24px;
  }
}