* {
  box-sizing: border-box;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292929;
}

/* Fonts */

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 40px;
}

.link {
  border-bottom: 1px solid #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* Navbar */

.navbar-container {
  align-items: center;
  border-bottom: 1px solid #f8f8f8;
  display: flex;
  justify-content: center;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1116px;
  padding: 20px 40px;
  width: 100%;
}

.brand-name {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.menu {
  display: flex;
}

.menu-item {
  list-style-type: none;
  margin: 0 20px;
}

.menu-link {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.language-switch {
    font-family: "Raleway", sans-serif; 
}
